{
  "extends": [
    "next/core-web-vitals",
    "next/typescript",
    "@rocketseat/eslint-config/react"
  ],
  "rules": {
    "react/self-closing-comp": "error",
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "tabWidth": 2,
      "singleQuote": true,
      "trailingComma": "all",
      "arrowParens": "always",
      "semi": false,
      "endOfLine": "auto",
    }],
    "@typescript-eslint/no-duplicate-enum-values": "off"
  }
}
